---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Clientes from "../components/Clientes.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Contacto from "../components/Contacto.astro";
import Portolio from "../components/Porfolio.astro";
import CardAbout from "@components/CardAbout";

---

<Layout title="Bienvenidos a Maprotel.">
    <main class="bg-gradient-to-tl from-slate-100 to-slate-100 dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-700">

        <button class=" bg-blue-500 dark:bg-blue-400 dark:hover:bg-blue-400  hover:bg-blue-400 animate-pulse" id="scroll-top-button"
            ><svg
                class="w-6 h-6 text-white dark:text-white shadow-2xl"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 8"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 7 7.674 1.3a.91.91 0 0 0-1.348 0L1 7"></path>
            </svg></button
        >
        <Navbar />
        <Hero />
        <Clientes />
        <About title="Sobre nosotros" />   
        <CardAbout client:load/> 
		<!-- <Portolio /> -->
         <Contacto />
        <Footer />
    </main>
</Layout>

<style>
    main #scroll-top-button {
        display: none;
    }
    #scroll-top-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: #fff;
        z-index: 100;
        padding: 10px;
        border-radius: 50%;       
        cursor: pointer;
    }

    @keyframes subir {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-15px);
        }
    }
</style>

<script>	

    // Get the button:
    let mybutton = document.getElementById("scroll-top-button") as HTMLElement;

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

	mybutton!.addEventListener('click',()=>{window.scrollTo({top: 0, behavior: 'smooth'})})
	
	</script>
