---
import { cardData } from "../data/card-data.ts";

import "@fontsource/bakbak-one";
import "@fontsource-variable/montserrat";
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <h1 class="text-xl text-center lg:text-4xl p-2 mt-8 text-gray-900">
        Portafolio de Productos y Servicios
    </h1>

    <div class="bg-blue-500">
        {
            cardData.map((card) => (
                <div class="border h-15 border-gray-100  dark:border-none rounded dark:bg-gray-800 dark:border-gray-700  shadow-md overflow-hidden">
                    <img
                        class="w-full h-40 object-cover p-2 mx-2"
                        src={card.img.src}
                        alt={card.img.alt}
                    />
                    <div class="px-4">
                        <h2 class="text-xl font-bold mb-2 text-gray-800 dark:text-gray-900">
                            {card.title}
                        </h2>
                        <p class="text-gray-400 font-thin text-center dark:text-gray-900">
                            {card.description}
                        </p>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    h1,
    h2 {
        font-family: "Bakbak One", system-ui;
    }

    p {
        font-family: "Montserrat", system-ui;
    }
</style>
